<robot name="ball">
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
    </material>
  <link name="ball">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
